html{
    background-color: aliceblue;
}





.center{
    text-align: center;
    
}


.centerButtons{
    text-align: center;
    
}
.Buttons{
    text-align: center;
}

#answer{
    text-align: center;
}